anyio
argon2-cffi
argon2-cffi-bindings
asttokens==3.0.0
async-lru
attrs
babel
beautifulsoup4
bleach
Bottleneck
brotlicffi
certifi
cffi
charset-normalizer
cloudpickle==3.1.2
colorama
comm==0.2.3
contourpy
cycler
debugpy==1.8.17
decorator==5.2.1
defusedxml
...
imbalanced-learn
ipykernel==7.1.0
ipython==8.37.0
...
matplotlib==3.10.7
numba==0.63.1
numpy
pandas
scikit-learn
seaborn
shap==0.49.1
slicer==0.0.8
tqdm==4.67.1
xgboost==3.1.2
